.header1{
    background-image:url("images/headerbg2.jpg");
    font-size: 200%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding:-1%;
    border: 2px;
    text-align: center;
}
th{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 200%;
}
caption{
    font-size: 250%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
a{
    color:white;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
footer{
    background-image:url("images/headerbg2.jpg");
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
